<!--Diretivas de estilo-->
<h2 [ngStyle]="{'font-size': size + 'px', 'font-family': 'Helvetica', 'color': colorStandard}">Diretivas sendo aplicadas</h2>

<!--Diretivas de classe-->
<h2 [ngClass]="classes">Teste de diretivas de classe 1</h2>
<h2 [ngClass]="classes">Teste de diretivas de classe 1927391</h2>
<h2 [ngClass]="classes">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem totam laborum odit velit enim! Fugiat architecto sit vitae, repudiandae doloremque itaque quidem sunt eveniet nulla vero aspernatur officiis dolor a.</h2>
